{% extends 'base.html' %}


{% block title %}Мой блог{% endblock %}

{% block content %}
    <div class="container main-container py-4">
        <div class="d-grid gap-2 d-md-block mb-4">
            <a href="{{ url_for('create', type='post') }}" class="btn btn-primary me-2">Опубликовать новую запись</a>
            {% if current_user.is_admin %}
                <a href="{{ url_for('create', type='tag') }}" class="btn btn-success me-2">Добавить тег</a>
                <a href="{{ url_for('create', type='category') }}" class="btn btn-warning">Добавить категорию</a>
            {% endif %}
        </div>

        <!-- Список постов -->
        <div class="post-list">
            {% for post in posts %}
                {% include 'includes/post_card.html' %}
            {% else %}
                <div class="alert alert-info">
                    Пока нет ни одной публикации
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}