{% extends 'base.html' %} 


{% block title %}Обновление заметки{% endblock %}

{% block content %}
    <h1 class="mb-4">Обновление заметки</h1>

    <div class="row g-4">

        <form method="post" action="/update/{{ note.id }}">
            <div class="mb-3">
                <label for="name" class="form-label">Название</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ note.name }}" required>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Категория</label>
                <select class="form-select" id="category" name="category" required>
                    {% for category in categories %}
                        <option value="{{ category.id }}" {% if category.id == note.category.id%}selected{% endif %}>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">Текст заметки</label>
                <textarea class="form-control" id="text" name="text" rows="6" required>{{ note.text }}</textarea>
            </div>
      
            <button type="submit" class="btn btn-success">Сохранить</button>
        </form>

    </div>

    <div class="mt-5">
        <a class="btn btn-primary" href="/" type="button">На Главную</a>
    </div>
{% endblock %}